@use "../abstract" as *;

.trainings-wrapper {
	grid-area: workouts;

	display: flex;
	flex-direction: column;
	gap: 30px;
}

.active-trainings,
.completed-trainings {

	// .active-trainings__wrapper
	&__wrapper {
	}

	// .active-trainings__title
	&__title {
		margin: 0 0 30px;
	}

	// .active-trainings__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}
}
