@use "../abstract" as *;

.dashboard-cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 30px 30px;
	grid-template-areas:
    "goals meals meals"
    "workouts workouts workouts"
    "workouts workouts workouts";

	@include media-large-laptop {
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px 30px;
		grid-template-areas:
    "goals goals goals"
    "meals meals meals"
    "workouts workouts workouts";
	}
}
