@use "../abstract" as *;

.goals {
	// .goal__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	&__button {
		margin-top: 60px;
		text-align: center;
		@include media-mobile-big {
			margin-top: 0;
		}
	}
}

.goal {
	display: flex;
	align-items: center;
	justify-content: space-between;

	// .goal__img
	&__img {
		width: 100%;
		max-width: 400px;
		height: 400px;
		background-repeat: no-repeat;
	}

	&__first-img {
		background-image: url("./../assets/svg/promo/promo2.svg");
	}

	&__second-img {
		background-image: url("./../assets/svg/promo/promo3.svg");
	}

	&__third-img {
		background-image: url("./../assets/svg/promo/promo4.svg");
	}

	&__fourth-img {
		background-image: url("./../assets/svg/promo/promo5.svg");
	}

	// .goal__content
	&__content {
		//padding-right: 65px;
		text-align: center;
	}

	// .goal__title
	&__title {
		margin: 0 0 30px;
	}

	// .goal__text
	&__text {
		@include font(1.6em, 4.6rem, 300);
		max-width: 500px;
	}
}

.title {
}

.text {
}

.order {
	order: -1;
}
