@use "../abstract" as *;

.target {
	grid-area: goals;

	&__top {
	}

	&__content {
		flex-direction: column;
	}
	// .target__wrapper
	&__wrapper {
	}

	// .target__title
	&__title {
	}

	// .target__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		text-align: center;


		@include media-large-laptop {
			flex-direction: row;

			>* {
				flex-basis: 48%;
			}
		}
	}

	// .target__card
	&__card {
		flex-grow: 1;
	}
}

.target-card {

	& .icon-round {
		width: 80px;
		height: 40px;
	}

	& .icon {
		width: 40px;
		height: 40px;
	}
	// .target-card__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-grow: 1;
	}

	// .target-card__data
	&__data {
		@include font(2.2rem, 4.6rem, 500);
		background: var(--colored-btn-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	// .target-card__text
	&__text {
	}
}
