@use "../abstract" as *;

.goals {
	// .goal__wrapper
	&__wrapper {
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 60px;
	}

	&__button {
		margin-top: 60px;
		text-align: center;
		@include media-mobile-big {
			margin-top: 0;
		}
	}
}

.goal {
	display: flex;
	align-items: center;
	justify-content: space-between;

	// .goal__img
	&__img {
		>* {
			max-width: 400px;
			width: 100%;
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}

	// .goal__content
	&__content {
		max-width: 550px;
		text-align: center;
	}

	// .goal__title
	&__title {
		margin: 0 0 30px;
	}

	// .goal__text
	&__text {
		@include font(2.5rem, 4.6rem, 300);
	}
}

.order {
	order: -1;
}
