@use "../abstract" as *;

.meal {
	// .meal__wrapper
	&__wrapper {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	// .meal__img
	&__img {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	// .meal__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
	}

	// .meal__title
	&__title {
		margin-bottom: 30px;
	}

	// .meal__nutrition
	&__nutrition {
	}

	// .meal__desc
	&__desc {
	}

	// .meal__ingredients
	&__ingredients {
	}

	// .meal__steps
	&__steps {
	}

	@media screen and (max-width: 1000px) {
		&__info {
			flex-direction: column;
			gap: 30px;
		}

		&__tutorial {
			flex-direction: column;
			gap: 30px;
		}
	}
}

.nutrition {
	@extend %block-shadowed;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--card-bg-color);
	padding: 30px 32px 30px 32px;

	// .nutrition__title
	&__title {
		margin-bottom: 20px;
	}

	// .nutrition__list
	&__list {
		display: flex;
		gap: 10px;

		@media screen and (max-width: 640px) {
			flex-direction: column;
			width: 100%;
		}
	}

	// .nutrition__item
	&__item {
		font-size: 1.6rem;
	}

	// .nutrition__icon
	&__icon {
	}

	@media screen and (max-width: 1000px) {
		&__item {
			flex-basis: 40%;
		}
	}
}

.meal-desc {
	@extend %block-shadowed;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--card-bg-color);
	padding: 30px 32px 30px 32px;

	// .meal-desc__title
	&__title {
		margin-bottom: 20px;
	}

	// .meal-desc__text
	&__text {
		text-align: left;
	}
}

.ingredients {
	@extend %block-shadowed;
	display: flex;
	flex-direction: column;
	text-align: center;
	padding: 30px 32px 30px 32px;
	background: var(--card-bg-color);
	width: 100%;

	// .ingredients__title
	&__title {
		margin-bottom: 20px;
	}

	// .ingredients__list
	&__list {
		display: flex;
		justify-content: center;
		gap: 30px;
	}

	// .ingredients__item
	&__item {
		display: flex;
		flex-basis: 30%;
		flex-direction: column-reverse;
		text-align: center;
		gap: 10px;
		flex-grow: 1;
		background: var(--tag-bg-color);
		padding: 15px 25px;
		border-radius: 10px;
	}

	&__data {
		//@include font(2.4rem, 2.6rem, 500);
		display: flex;
		justify-content: center;
		align-items: baseline;
		gap: 5px;
		background: var(--unit-text);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	// .ingredients__amount
	&__amount {

	}

	// .ingredients__amount
	&__unit {
		font-size: 1.4rem;
	}

	// .ingredients__name
	&__name {
		@include font(2rem, 2.6rem, 300);
		flex-grow: 1;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.meal-steps {
	@extend %block-shadowed;
	display: flex;
	flex-direction: column;
	text-align: center;
	background: var(--card-bg-color);
	padding: 30px 32px 30px 32px;

	width: 100%;

	// .meal-steps__title
	&__title {
		margin-bottom: 20px;
	}

	// .meal-steps__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: 30px;
		flex-grow: 1;
	}

	// .meal-steps__item
	&__item {
		display: flex;
		justify-content: center;
		gap: 20px;

		@media screen and (max-width: 640px) {
			flex-direction: column;
		}
	}

	// .meal-steps__step
	&__step {
		@include font(2.4rem, 2.6rem, 500);
		display: flex;
		flex-direction: column;
		gap: 5px;
		background: var(--unit-text);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include media-mobile-big {
			@include font(2.1rem, 3.1rem, 300);
		}
	}

	// .meal-steps__text
	&__text {
		width: 70%;
		text-align: initial;

		@media screen and (max-width: 640px) {
			width: 100%;
		}
	}
}
