@use "../abstract" as *;

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $color-overlay;
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	width: 350px;
	min-height: 400px;
	max-height: 90%;
	overflow: auto;
	background: var(--secondary-bg-color);
	padding: 15px 32px 32px 32px;
}

.modal__close-icon {
	position: absolute;
	top: 15px;
	right: 12px;
	z-index: 1;
	cursor: pointer;
	display: block;
}

.modal__content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.modal__dialog {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.dialog {
	&__text {
		@include font(2.2rem, 4.6rem, 300);
		text-align: center;
	}

	&__buttons {
		display: flex;
		justify-content: space-around;
	}
}
