@use "../abstract" as *;

.nav {
	&__list {
		display: flex;
	}

	&__item {
		padding: 0 10px;
		font-family: $font-family-primary;
		@include font(1.6rem, 3.5rem, normal);
		@extend %transition;

		&--link {
			text-decoration: none;
			color: var(--link-text-color);
			&:hover {
				color: var(--link-text-hover-color);
			}
		}

		&--active {
			color: var(--link-text-hover-color);
			cursor: default;
		}
	}
}

.header__content {
	@include media-tablet {
		position: fixed;
		width: 100%;
		height: 100%;
		right: 0;
		top: -100%;
		z-index: 10;
		transition: all 0.3s ease-out;
		background: var(--primary-bg-color);

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 30px;

		.header__nav {
			flex-basis: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		& .icon--close {
			position: absolute;
			display: inline-flex;
			top: 8px;
			right: 10px;
		}

		.nav__list {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}

		.header__scheme {
			margin-right: 0;
		}

		.header__buttons {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			text-align: center;
			flex-basis: 0;
			order: -1;

			>* {
				text-decoration: none;
				color: var(--link-text-color);
				&:hover {
					color: var(--link-text-hover-color);
				}
			}

			.button {
				padding: 0 0 10px;
				transition: none;

				&:last-child {
					margin-left: 0;
				}
			}
		}

		& .button--colored,
		& .button--bordered {
			background: transparent;
			border: none;
		}
	}
}

.nav--show {
	top: 0;
}
