@use "../abstract" as *;

.promo {
	margin-bottom: 100px;
	overflow: hidden;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media screen and (max-width: 760px) {
			flex-direction: column-reverse;
		}

		@include media-mobile-big {
			flex-direction: column-reverse;
		}
	}
	&__content {
		padding-right: 65px;

		& .button--colored {
			background: var(--accent-color);
			&:hover {
				opacity: 0.8;
			}
		}

		@media screen and (max-width: 760px) {
			text-align: center;
		}

		@include media-tablet {
			padding-right: 0;
		}

		@include media-mobile-big {
			text-align: center;
		}
	}
	&__title {
		margin: 0 0 30px;
	}

	&__title-char {
		@include font(9.4rem, 10.8rem);
		color: var(--accent-color);

		@include media-tablet {
			@include font(8.4rem, 9.8rem);
		}

		@include media-mobile-big {
			@include font(4.4rem, 9.8rem);

		}
	}

	&__text {
		max-width: 487px;
		margin: 0 0 45px;
		font-family: $font-family-primary;
		@include font(3.0rem, 4.6rem, 300);

		@include media-tablet {
			width: 360px;
		}

		@media screen and (max-width: 760px) {
			margin: 0 auto;
			padding-bottom: 30px;
			width: 100%;
		}

		@include media-mobile-big {
			width: auto;
			@include font(2rem, 3.6rem, 300);
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		& > * {
			white-space: nowrap;
			margin-right: 44px;
			&:last-child {
				margin-right: 0;
			}
		}

		@include media-mobile-big {
			flex-direction: column;

			& > * {
				margin: 0 0 26px 0;
			}
		}
	}

	&__img {

		@media screen and (max-width: 760px) {
			max-width: 400px;

			>* {
				width: 100%;
				height: 100%;
			}
		}

		@include media-mobile-big {
			max-width: 100%;
			margin-bottom: 16px;
		}
	}
}
