@use "../abstract" as *;

.program {
	// .program__wrapper
	&__wrapper {
	}

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 0 30px;
		font-family: $font-family-primary;
		@include font(1.6rem, 3.5rem, normal);
		@extend %transition;
	}

	// .program__content
	& .training {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		@extend %block-shadowed;
		text-align: center;
		background: var(--card-bg-color);
		padding: 15px 32px 30px 32px;

		&__img {
			width: 80%;

			>* {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}

			@include media-laptop {
				height: auto;
				>* {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}

			@include media-tablet {
				height: auto;
				>* {
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}

		&__content {
			padding: 0;
		}
	}

	& .training__text {
		margin-bottom: 0;
	}
}
