@use "../abstract" as *;

.profile {
	// .profile__wrapper
	&__wrapper {
	}

	&__title {
		@include font(4.7rem, 6.6rem, 600);
		text-align: center;
	}

	// .profile__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	// .profile__img
	&__img {
		width: 200px;
		height: 200px;
		border-radius: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: var(--card-bg-color);
		overflow: hidden;

		>* {
			width: 100%;
			height: 100%;
			object-fit: contain;
			padding-top: 20px;
		}
	}

	// .profile__info
	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	// .profile__full-name
	&__full-name {
	}

	// .profile__program
	&__program {
		@include font(2.2rem, 4.6rem, 300);
	}

	// .profile__edit-btn
	&__edit-btn {
	}
}

.image-fields {
	&__label {
		width: 120px;
		height: 120px;
		border-radius: 100%;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		background: var(--card-bg-color);
		overflow: hidden;
		cursor: pointer;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			padding-top: 20px;
		}

		@include media-tablet {
			width: 90px;
			height: 90px;
		}
	}

	&__input {
		display: none;
	}

	&__input:checked + img{
		background: var(--accent-color);
	}
}

.tracks-fields {

	&__label {
		display: flex;
		align-items: center;

		.icon--like {
			background-image: var(--heart-icon);
			@include icon-size(16px, 16px);
			background-size: 100%;
			cursor: pointer;

			&:hover {
				background-image: var(--heart-icon-hover);
			}
		}
	}


	&__input {
		display: none;
	}

	&__input:checked + .icon--like{
		background-image: var(--heart-icon-hover);
	}

	&__item {
		display: flex;
	}
}
