@use "../abstract" as *;

.progress {
	// .progress__wrapper
	&__wrapper {
	}

	// .progress__title
	&__title {
		margin: 0 0 30px;
	}

	// .progress__content
	&__content {
		display: flex;
		flex-wrap: wrap;
		gap: 50px;
		justify-content: center;
	}

	// .progress__item
	&__item {
		@extend %block-shadowed;
		display: flex;
		flex-basis: 45%;
		flex-direction: column;
		text-align: center;
		flex-grow: 1;
		background: var(--card-bg-color);
		padding: 11px 25px;
	}
}

.progress-item {
	// .progress-item__number
	&__number {
		@include font(4.2rem, 4.6rem, 300);
		background: var(--colored-btn-color);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		@include media-mobile-big {
			@include font(4rem, 4.6rem, 300);
		}

		/*
		font-size: 2.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.6rem;
		 */
	}

	// .progress-item__text
	&__text {
		@include font(2.2rem, 4.6rem, 300);
		white-space: nowrap;

		@include media-mobile-big {
			@include font(1.6rem, 2.6rem, 300);
		}
	}
}
