@use "../abstract" as *;

.tags {
	display: flex;
	flex-wrap: wrap;
	>* {
		margin: 0 7px 10px 0;
	}
}

.tag {
	border-radius: 90px;
	padding: 0 14px;
	@include font(1.3rem, 2.8rem, normal);

	&--bordered {
		background: var(--tag-bg-color);
		color: var(--colored-btn-color);
	}
}
