@use "../abstract" as *;

.tags {
	display: flex;
	flex-wrap: wrap;
	>* {
		margin: 0 7px 10px 0;
	}
}

.tag {
	border-radius: 90px;
	padding: 0 14px;
	@include font(1.3rem, 2.8rem, normal);

	&--bordered {
		background: var(--tag-bg-color);
		color: var(--colored-btn-color);
	}

	&--rounded {
		background: var(--tag-bg-color);
		color: var(--colored-btn-color);
		border-radius: 12px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin: 0;
	}

	&--squared {
		background: var(--tag-bg-color);
		color: var(--colored-btn-color);
		border-radius: 12px;
		padding: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 10px;
		margin: 0;
	}
}
