@use "../abstract" as *;

.t-training {
  // t-training__wrapper
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  // t-training__title
  &__title {
    @include font(3.6rem, 4.6rem, 500);
  }

  // t-training__desc
  &__desc {
    @include font(2.2rem, 4.6rem, 300);
    max-width: 900px;
  }

  // t-training__info
  &__info {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @extend %block-shadowed;
    text-align: center;
    background: var(--card-bg-color);
    padding: 30px 32px 30px 32px;
  }

  &__tags {
    justify-content: center;

    & .tag {
      @include font(1.8rem, 3.6rem, 300);
    }
  }

  // t-training__back
  &__back {
    min-width: 133px;
    text-align: center;
    text-decoration: none;
    flex: 0 0 133px;
    align-self: flex-start;
    position: relative;
    top: 7px;
  }

  // t-training__last-line
  &__last-line {
    display: flex;
    gap: 30px;
  }
}

@include media-notebook {
  .t-training {
    // t-training__wrapper
    &__wrapper {
      flex-direction: column;
    }

    // t-training__training
    &__training {
      display: flex;
      justify-content: center;
    }

    // t-training__desc
    &__desc {
      margin: 20px 0;
    }
  }
}

@include media-mobile-huge {
  .t-training {
    // t-training__first-line
    // t-training__last-line
    &__first-line,
    &__last-line {
      text-align: center;
      flex-direction: column;
      gap: 10px;
    }
    &__last-line {
      gap: 20px;
    }

    // .t-training__back
    &__back {
      align-self: center;
      justify-self: flex-end;
      flex: 0;
    }

    // t-training__tags
    &__tags {
      display: flex;
      justify-content: space-between;
    }
  }
}
