@use "../abstract" as *;

.training-cart {
	@extend %block-shadowed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 1;
	gap: 30px;
	max-width: 600px;
	width: 100%;
	background: var(--card-bg-color);
	padding: 15px 32px 30px 32px;

	&__content {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}

	&__title {
		@include font(2.3rem, 4.2rem, 300);
		@include media-mobile-big {
			@include font(2.1rem, 3.1rem, 300);
		}
		color: #1d1617;
	}

	&__tags {
		margin-bottom: 10px;
	}

	&__button {
	}
}
