@use "../abstract" as *;

.trainings {
	margin-bottom: 80px;
	&__title {
		margin: 0 0 20px;
	}

	&__desc {
		@include font(2.2rem, 4.6rem, 300);
		margin: 0 0 60px;
	}

	&__content {
		>* {
			margin-bottom: 40px;
			@include media-laptop {
				flex-basis: 45%;
			}
			@include media-mobile-big {
				flex-basis: 100%;
			}
		}
	}
}

.training {
	@extend %block-shadowed;
	display: flex;
	flex-direction: column;
	background: var(--secondary-bg-color);

	&__img {
		display: flex;
		justify-content: center;
		width: 80%;

		>* {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}

		@include media-laptop {
			>* {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		@include media-large-laptop {
			height: 10%;
			width: auto;
			>* {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}

		@include media-tablet {
			height: 10%;
			>* {
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: 26px 36px 26px;
	}

	&__title {
		margin: 0 0 29px ;
		text-align: center;
		flex-grow: 1;
	}

	&__text {
		text-align: center;
		margin-bottom: 30px;
	}

	&__tags {
		text-align: left;
	}

	&__button {
		text-align: center;
	}
}
