$color-light: #fcfcff;

$color-overlay: rgba(80, 80, 80, 0.4);
$font-family-primary: "Montserrat", sans-serif;

$width-container: 1260px;

$large-laptop-width: 1150px;
$tablet-width: 768px;
$mobile-big-width: 425px;
$mobile-large-width: 350px;
$mobile-small-width: 320px;

$color-primary-light: #7079fe;
$color-primary-dark: #454550;

$color-accent-light: #7079fe;
$color-accent-dark: #8388cf;

$color-primary-bg-light: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
$color-primary-bg-dark: #2a2e3d;

$color-modal-bg-light: #f6f4f7;
$color-modal-bg-dark: #2a2e3d;

$color-context-icon-bg-light: #b0c5fd;
$color-context-icon-bg-dark: #494c59;

$color-context-bg-light: #f6f4f7;
$color-context-bg-dark: rgba(248, 249, 250, 0.15);

$color-context-accent-light: #f6f4f7;
$color-context-accent-dark: #484b58;


$color-secondary-bg-light: #f6f4f7;
$color-secondary-bg-dark: rgba(248, 249, 250, 0.15);

$color-text-light: #1d1617;
$color-text-dark: #fafafa;

$color-text-btn-light: #173a56;
$color-text-btn-dark: #1d1617;

$color-bordered-btn-light: #fcfcff;
$color-bordered-btn-dark: #fcfcff;

$color-colored-btn-light: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);
$color-colored-btn-dark: #8388cf;

$color-bordered-btn-text-light: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);
$color-bordered-btn-text-dark: #fafafa;

$color-hover-colored-btn-light: #92a3fd;
$color-hover-colored-btn-dark: #ac8da8d4;

$color-hover-bordered-btn-light: #92a3fd;
$color-hover-bordered-btn-dark: #dddc;

$color-link-text-light: #2f281e;
$color-link-text-dark: #fcfcff;

$color-link-hover-text-light: #fcfcffcc;
$color-link-hover-text-dark: #7f7f89;

$color-link-hover-context-text-light: #7079fe;
$color-link-hover-context-text-dark: #7f7f89;

$color-input-bordered-light: #ddd;
$color-input-bordered-dark: #fcfcff;

$color-input-bg-light: #fcfcff;
$color-input-bg-dark: #f7f8f8;

$color-input-text-light: #2f281e;
$color-input-text-dark: #2f281e;

$color-unit-text-light: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%);;
$color-unit-text-dark: #989de1;

$color-card-bg-light: #fbfbfc;
$color-card-bg-dark: rgb(248 249 250 / 15%);

$color-popup-bg-light: #fbfbfc;
$color-popup-bg-dark: rgb(73 76 89);

$color-round-bg-light: #f8f9fa;
$color-round-bg-dark: rgb(248 249 250 / 15%);

$color-bordered-link-btn-light: linear-gradient(274.42deg, #fbfbfc 0%, #fbfbfc 124.45%) padding-box, linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%) border-box;

$color-bordered-link-btn-dark: linear-gradient(274.42deg,  rgb(248 249 250 / 15%) 0%,  rgb(248 249 250 / 15%) 124.45%) padding-box, linear-gradient(274.42deg,  rgb(248 249 250 / 15%) 0%,  rgb(248 249 250 / 15%) 124.45%) border-box;

$color-hover-colored-btn-light: linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%) padding-box, linear-gradient(274.42deg, #92a3fd 0%, #9dceff 124.45%) border-box;
$color-hover-colored-btn-dark: #8388cf;

$color-tag-bg-light: #f2f2f2a6;
$color-tag-bg-dark: rgb(248 249 250 / 15%);

$color-thumb-light: rgb(151 153 161);
$color-thumb-dark: #3b3e4c;

$color-track-light: rgb(151 153 161 / 27%);
$color-track-dark: rgb(193 189 194 / 58%);

$logo-light: url("./../assets/svg/logo/logo-light.svg");
$logo-dark: url("./../assets/svg/logo/logo-dark.svg");

$arrow-left-light: url("./../assets/svg/arrow/arrow-left-light.svg");
$arrow-left-dark: url("./../assets/svg/arrow/arrow-left-dark.svg");

$arrow-left-hover-light: url("./../assets/svg/arrow/arrow-left-light-hover.svg");
$arrow-left-hover-dark: url("./../assets/svg/arrow/arrow-left-dark-hover.svg");

$burger-menu-icon-light: url("./../assets/svg/burger-menu/burger-menu-icon-light.svg");
$burger-menu-icon-dark: url("./../assets/svg/burger-menu/burger-menu-icon-dark.svg");

$close-icon-light: url("./../assets/svg/burger-menu/close-icon-light.svg");
$close-icon-dark:  url("./../assets/svg/burger-menu/close-icon-light.svg");

$close-modal-icon-light: url("./../assets/svg/burger-menu/close-icon-modal-light.svg");
$close-modal-icon-dark: url("./../assets/svg/burger-menu/close-icon-light.svg");

$delete-icon-light: url("./../assets/svg/player/delete-light.svg");
$delete-icon-dark: url("./../assets/svg/player/delete-dark.svg");

$delete-icon-hover-light: url("./../assets/svg/player/delete-hover-light.svg");
$delete-icon-hover-dark: url("./../assets/svg/player/delete-hover-dark.svg");

$create-icon-light: url("./../assets/svg/player/create-light.svg");
$create-icon-dark: url("./../assets/svg/player/create-dark.svg");

$create-icon-hover-light: url("./../assets/svg/player/create-hover-light.svg");
$create-icon-hover-dark: url("./../assets/svg/player/create-hover-dark.svg");

$volume-icon-light: url("./../assets/svg/player/volume-light.svg");
$volume-icon-dark: url("./../assets/svg/player/volume-dark.svg");

$play-icon-light: url("./../assets/svg/player/play-light.svg");
$play-icon-dark: url("./../assets/svg/player/play-dark.svg");

$pause-icon-light: url("./../assets/svg/player/pause-light.svg");
$pause-icon-dark: url("./../assets/svg/player/pause-dark.svg");

$heart-icon-light: url("./../assets/svg/player/heart-light.svg");
$heart-icon-dark: url("./../assets/svg/player/heart-dark.svg");

$heart-icon-hover-light: url("./../assets/svg/player/heart-hover-light.svg");
$heart-icon-hover-dark: url("./../assets/svg/player/heart-hover-dark.svg");

$youtube-icon-light: url("./../assets/svg/player/youtube-light.svg");
$youtube-icon-dark: url("./../assets/svg/player/youtube-dark.svg");

$reg-icon-light: url("./../assets/svg/navigation/reg-light.svg");
$reg-icon-dark: url("./../assets/svg/navigation/reg-dark.svg");
