
$color-secondary: #ff7549;
$color-bg: #ffeee1;
$color-link: #1943EF;
$color-tag: #F5F5F5;
$color-text: #544837;
$color-form-text: #C6C6C6;
$color-title: #2F281E;
$color-light: #ffffff;

$color-border-btn: #d7d7d7;
$color-hovered-btn: #BCD0E5;

$color-overlay: rgba(80, 80, 80, 0.4);


$font-family-primary: 'Poppins', sans-serif;

$width-container: 1197px;

$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;

//$color-text: #FCFCFF;


$color-light: #FCFCFF;



$color-primary-light: #5B66FE;
$color-primary-dark: #454550;

$color-accent-light: #5B66FE;
$color-accent-dark: #ac8da8;

$color-primary-bg-light: linear-gradient(274.42deg, #92A3FD 0%, #9DCEFF 124.45%);
$color-primary-bg-dark: #212224;

$color-text-light: #1d1617;
$color-text-dark: #FCFCFF;

$color-text-btn-light: #173A56;
$color-text-btn-dark: #1d1617;

$color-bordered-btn-light: #FCFCFF;
$color-bordered-btn-dark: #FCFCFF;

$color-colored-btn-light: #5B66FE;
$color-colored-btn-dark: #ac8da8;

$color-hover-colored-btn-light: #5c66fcad;
$color-hover-colored-btn-dark: #ac8da8d4;

$color-hover-bordered-btn-light: #92A3FD;
$color-hover-bordered-btn-dark: #dddc;

$color-link-text-light: #2F281E;
$color-link-text-dark: #FCFCFF;

$color-link-hover-text-light: #FCFCFF;
$color-link-hover-text-dark: #7f7f89;
