@use "../abstract" as *;

.footer {
	margin-bottom: 20px;

	&__wrapper {
		display: grid;
		grid-area: footer;
		grid-template: 1fr / minmax(auto, 300px) 1fr minmax(auto, 300px) 1fr minmax(auto, 300px);
		align-items: center;
		padding-bottom: 30px;
	}

	&__gh {
		grid-column: 1/2;
		display: flex;
		align-items: center;

		.icon {
			opacity: 0.5;
			filter: var(--rs-logo);
		}
	}

	&__select {
		grid-column: 3/4;
	}

	&__rss {
		grid-column: 5/6;
		text-align: end;
		opacity: 0.5;
		filter: var(--rs-logo);
	}

	@include media-tablet {
		padding: 15px 5px;
	}

	@include media-mobile-big {
		&__wrapper {
			display: flex;
			flex-direction: column;
			gap: 30px;
		}

		&__gh {
			gap: 10px;
		}
	}
}

.select-lang {
	display: flex;
	justify-content: center;
	text-align: center;
	gap: 20px;
	opacity: 0.5;

	// .select-lang__text
	&__text {
	}

	// .select-lang__select
	&__select {
		width: 100px;
	}

	@include media-tablet {
		&__text {
			display: none;
		}
	}
}
