@use "../abstract" as *;
.icon {
	display: inline-flex;
}

.icon--logo {
	background-image: var(--logo);
	@include icon-size(160px, 60px);
	background-size: 100%;
}

.icon--promo {
	background-image: url("./../assets/svg/promo/promo.svg");
	@include icon-size(630px, 700px);
	background-size: 100%;
}

.icon--gh {
	display: inline-flex;
	background-image: url("./../assets/svg/github/github.svg");
	@include icon-size(30px, 30px);
	background-size: 100%;

	transition: all 0.5s ease 0s;
	&:hover {
		transform: scale(1.1);
		cursor: pointer;
	}
}

.icon--profile{
	background-image: url("./../assets/svg/registration/profile.svg");
	@include icon-size(18px, 18px);
	background-size: 100%;
}

.icon--message{
	background-image: url("./../assets/svg/registration/message.svg");
	@include icon-size(18px, 18px);
	background-size: 100%;
}

.icon--lock{
	background-image: url("./../assets/svg/registration/lock.svg");
	@include icon-size(18px, 18px);
	background-size: 100%;
}

.icon--call{
	background-image: url("./../assets/svg/registration/call.svg");
	@include icon-size(18px, 18px);
	background-size: 100%;
}
